* {
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
}

.menu {
  display: none;
}

.banner-text {
  margin: 0 auto;
}

#wrapper section .container, .post .container {
  margin: 0;
  padding: 10px;
  width: auto;
}

.work .details, .formations .work .details {
  border-width: 1px;
}
